@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?vxfye');
  src:  url('fonts/icomoon.eot?vxfye#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?vxfye') format('truetype'),
    url('fonts/icomoon.woff?vxfye') format('woff'),
    url('fonts/icomoon.svg?vxfye#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\ecac";
  color: #fff;
}
.icon-arrow_right_alt:before {
  content: "\ecad";
  color: #fff;
}
.icon-Attachment:before {
  content: "\ecae";
}
.icon-Chat1:before {
  content: "\ecaf";
}
.icon-checkmark-12:before {
  content: "\ecb0";
  color: #c01824;
}
.icon-close:before {
  content: "\ecb1";
  color: #fefeff;
}
.icon-crop_free:before {
  content: "\ecb2";
  color: #fefeff;
}
.icon-Frame-1:before {
  content: "\ecb3";
  color: #fff;
}
.icon-Frame-2:before {
  content: "\ecb4";
  color: #c01824;
}
.icon-Frame-3:before {
  content: "\ecb5";
  color: #c01824;
}
.icon-Frame-4:before {
  content: "\ecb6";
  color: #808080;
}
.icon-Frame-5:before {
  content: "\ecb7";
  color: #c01824;
}
.icon-Frame:before {
  content: "\ecb8";
  color: #fff;
}
.icon-Group-2020:before {
  content: "\ecb9";
  color: #c01824;
}
.icon-Group-2021:before {
  content: "\ecba";
  color: #c01824;
}
.icon-Group-2022:before {
  content: "\ecbb";
  color: #c01824;
}
.icon-Group-2023:before {
  content: "\ecbc";
  color: #c01824;
}
.icon-Group-2024:before {
  content: "\ecbd";
  color: #c01824;
}
.icon-Group-2025:before {
  content: "\ecbe";
  color: #c01824;
}
.icon-Group-2110:before {
  content: "\ecbf";
}
.icon-Group-2111:before {
  content: "\ecc0";
}
.icon-Group-2129:before {
  content: "\ecc1";
  color: #808080;
}
.icon-Group-2131:before {
  content: "\ecc2";
}
.icon-Group-2132:before {
  content: "\ecc3";
  color: #c01824;
}
.icon-Group-289239:before {
  content: "\ecc4";
  color: #c01824;
}
.icon-Group:before {
  content: "\ecc5";
  color: #c01824;
}
.icon-lock:before {
  content: "\ecc6";
  color: #c01824;
}
.icon-settings1:before {
  content: "\ecc7";
  color: #fefeff;
}
.icon-upload .path1:before {
  content: "\ecc8";
  color: rgb(192, 24, 36);
}
.icon-upload .path2:before {
  content: "\ecc9";
  margin-left: -1.005859375em;
  color: rgb(235, 183, 187);
}
.icon-Vector-1:before {
  content: "\ecca";
  color: #cacaca;
}
.icon-Vector:before {
  content: "\eccb";
  color: #fffffe;
}
.icon-visibility_off:before {
  content: "\eccc";
}
