@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hai6hl');
  src:  url('fonts/icomoon.eot?hai6hl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hai6hl') format('truetype'),
    url('fonts/icomoon.woff?hai6hl') format('woff'),
    url('fonts/icomoon.svg?hai6hl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-account_circle:before {
  content: "\e900";
  color: #c01824;
}
.icon-bus:before {
  content: "\e901";
  color: #fff;
}
.icon-Chat:before {
  content: "\e902";
  color: #c01823;
}
.icon-checkmark-1:before {
  content: "\e903";
}
.icon-domain_verification:before {
  content: "\e904";
  color: #c01824;
}
.icon-Frame-1171275425:before {
  content: "\e905";
}
.icon-Frame:before {
  content: "\e906";
  color: #c01824;
}
.icon-Group-183:before {
  content: "\e907";
}
.icon-Group-1946:before {
  content: "\e908";
  color: #fff;
}
.icon-Group-1961:before {
  content: "\e909";
  color: #fff;
}
.icon-Group-1981 .path1:before {
  content: "\e90a";
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path8:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path9:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-1981 .path10:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path11:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path12:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path13:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path14:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path15:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path16:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path17:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(192, 24, 36);
}
.icon-Group-1981 .path18:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Group-1982:before {
  content: "\e91c";
  color: #c01824;
}
.icon-Group-2002:before {
  content: "\e91d";
  color: #c01824;
}
.icon-Group:before {
  content: "\e91e";
  color: #fffffe;
}
.icon-house:before {
  content: "\e91f";
  color: #fff;
}
.icon-notification-1-3 .path1:before {
  content: "\e920";
  color: rgb(255, 255, 255);
}
.icon-notification-1-3 .path2:before {
  content: "\e921";
  margin-left: -0.9599609375em;
  color: rgb(255, 255, 255);
}
.icon-notification-1-3 .path3:before {
  content: "\e922";
  margin-left: -0.9599609375em;
  color: rgb(217, 4, 41);
}
.icon-notifications:before {
  content: "\e923";
  color: #c01824;
}
.icon-settings:before {
  content: "\e924";
  color: #fff;
}
.icon-Toggler .path1:before {
  content: "\e925";
  color: rgb(207, 2, 16);
}
.icon-Toggler .path2:before {
  content: "\e926";
  margin-left: -1.4580078125em;
  color: rgb(255, 255, 255);
}
.icon-Toggler .path3:before {
  content: "\e927";
  margin-left: -1.4580078125em;
  color: none;
}
.icon-van:before {
  content: "\e928";
  color: #c01824;
}
.icon--icon-_email:before {
  content: "\e929";
  color: #cacaca;
}
.icon--icon-_lock:before {
  content: "\e92a";
  color: #cacaca;
}
