@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?19329388');
  src: url('../font/fontello.eot?19329388#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?19329388') format('woff2'),
       url('../font/fontello.woff?19329388') format('woff'),
       url('../font/fontello.ttf?19329388') format('truetype'),
       url('../font/fontello.svg?19329388#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?19329388#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-frame-(1):before { content: '\e801'; } /* '' */
.icon-frame-(2):before { content: '\e802'; } /* '' */
.icon-frame-(3):before { content: '\e803'; } /* '' */
.icon-frame:before { content: '\e804'; } /* '' */
.icon-group-(1):before { content: '\e806'; } /* '' */
.icon-group-(5):before { content: '\e809'; } /* '' */
.icon-group-(4):before { content: '\e80a'; } /* '' */
.icon-group-(6):before { content: '\e80b'; } /* '' */
.icon-group-1946:before { content: '\e80c'; } /* '' */
.icon-group-1952:before { content: '\e80d'; } /* '' */
.icon-group-2019:before { content: '\e811'; } /* '' */
.icon-group-2020:before { content: '\e812'; } /* '' */
.icon-group-2021:before { content: '\e81e'; } /* '' */
.icon-group-2022:before { content: '\e81f'; } /* '' */
.icon-group-2023:before { content: '\e820'; } /* '' */
.icon-group-2024:before { content: '\e821'; } /* '' */
.icon-group-2025:before { content: '\e822'; } /* '' */
.icon-group-2111:before { content: '\e823'; } /* '' */
.icon-group-2131:before { content: '\e824'; } /* '' */
.icon-group-2132:before { content: '\e825'; } /* '' */
.icon-group-289238:before { content: '\e826'; } /* '' */
.icon-group-289239:before { content: '\e827'; } /* '' */
.icon-group-289251:before { content: '\e828'; } /* '' */
.icon-group-289249:before { content: '\e829'; } /* '' */
.icon-group-1000003478:before { content: '\e82a'; } /* '' */
.icon-layer-2:before { content: '\e82f'; } /* '' */
.icon-location:before { content: '\e830'; } /* '' */
.icon-lock:before { content: '\e831'; } /* '' */
.icon-lock-open:before { content: '\e832'; } /* '' */
.icon-mask-group-1-(1):before { content: '\e833'; } /* '' */
.icon-notification-(1)-3:before { content: '\e836'; } /* '' */
.icon-upload:before { content: '\e842'; } /* '' */
.icon-vector:before { content: '\e844'; } /* '' */
.icon-visibility_off:before { content: '\e845'; } /* '' */
.icon-4158866-1:before { content: '\e846'; } /* '' */
.icon-attachment_svgrepo.com:before { content: '\e848'; } /* '' */
.icon-checkmark-1:before { content: '\e84a'; } /* '' */
.icon-edit:before { content: '\e84b'; } /* '' */
.icon-credit-card-design:before { content: '\e84c'; } /* '' */
.icon-chat:before { content: '\e84d'; } /* '' */
.icon-checkmark-11:before { content: '\e84f'; } /* '' */
.icon-domain_verification:before { content: '\e852'; } /* '' */
.icon-edit1:before { content: '\e853'; } /* '' */
.icon-frame1:before { content: '\e85d'; } /* '' */
.icon-frame11:before { content: '\e85e'; } /* '' */
.icon-frame-21:before { content: '\e85f'; } /* '' */
.icon-frame-11:before { content: '\e860'; } /* '' */
.icon-frame-31:before { content: '\e862'; } /* '' */
.icon-group1:before { content: '\e863'; } /* '' */
.icon-group-41:before { content: '\e867'; } /* '' */
.icon-group-51:before { content: '\e868'; } /* '' */
.icon-group-183:before { content: '\e86a'; } /* '' */
.icon-group-1981:before { content: '\e86b'; } /* '' */
.icon-group-1961:before { content: '\e86c'; } /* '' */
.icon-group-1982:before { content: '\e86d'; } /* '' */
.icon-group-2002:before { content: '\e86e'; } /* '' */
.icon-group-19461:before { content: '\e86f'; } /* '' */
.icon-group-19521:before { content: '\e870'; } /* '' */
.icon-group-194611:before { content: '\e871'; } /* '' */
.icon-group-10000034781:before { content: '\e872'; } /* '' */
.icon-house:before { content: '\e873'; } /* '' */
.icon--icon-_email:before { content: '\e874'; } /* '' */
.icon--icon-_lock:before { content: '\e875'; } /* '' */
.icon-notification-1-31:before { content: '\e876'; } /* '' */
.icon-notifications:before { content: '\e877'; } /* '' */
.icon-settings:before { content: '\e878'; } /* '' */
.icon-toggler:before { content: '\e879'; } /* '' */
.icon-van:before { content: '\e87a'; } /* '' */
.icon-11:before { content: '\e87b'; } /* '' */
.icon-account_circle:before { content: '\e87c'; } /* '' */
.icon-bus:before { content: '\e87f'; } /* '' */
